 *{
   box-sizing: border-box;
 }
 ul{
   margin: 0;
   padding: 0;
 }

 ul li {
   cursor: pointer;
   position: relative;
   padding: 12px 8px 12px 40px;
   background: #eee;
   font-size: 18px;
   transition: 0.2s;
 }
 ul li:nth-child(odd){
   background-color: #f9f9f9;
 }
 ul li:hover{
   background: #dddd;
 }

  
 .header {
   background-color: #232323;
   padding: 30px 40px;
   color: white;
   text-align:center;
   border-radius: 0.75rem;
   
   
 }
 .header:after {
   content: "";
   display: table;
   clear: both;
 }
 input {
   margin: 0;
   border: none;
   border-radius: 0;
   width: 75%;
   padding: 10px;
   float: left;
   font-size: 16px;
 }
 .addbut{
   padding: 12px;
  width: 15%;
  background:greenyellow;
  color: #555;
  float:left;
  text-align: center;
  font-size: 12px;
  cursor:pointer;
  transition: 0.3s;
  border-radius: 0.75rem;
  
 }
 .addbut:hover {
   background-color: #bbb;
 }
 li{
  display: flex;
  justify-content: space-between
  
 }
 li button {
  background-color: #f44336;
  border-radius:0.75rem ;
  opacity: 1;
  

 }
 li button:hover{
  background-color:grey;
 }
  
  
 

 
 
